*{
    padding: 0px;;
    margin: 0px;
    box-sizing: border-box;

}
html{
    font-size: 16px;
}
body{
    width: 100%;
    height: 100vh;  
    display: flex;
    background-color: hsl(0 0% 85%);
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

}
@font-face {
    font-family: myCoolFont;
    src: url(./fonts/Poppins-Regular.ttf);
    
}
@font-face {
    font-family: extraBold;
    src: url(./fonts/Poppins-ExtraBoldItalic.ttf);
}
.container{
    width: 60%;
    height: 80%;
    background-color: hsl(0 0% 100%);
    padding: 4px;
    border-radius:  3% 3% 30% 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 10px 5px  20px 0.1px grey;

}
.inputs{
    padding: 3px;
    width: 80%;
    height: 20%;
    display: flex;

}
.inputs ul{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.inputs span{
    font-size: 1rem;
    letter-spacing: 2px;
    font-family:myCoolFont ;
}
input{
    width: 70%;
    height: 50%;
    padding: 5px;
    font-size: 1.3rem;
    font-weight: 900;
    border:  2px hsl(0, 0%, 70%) solid;
    border-radius: 5px;
}
.button-hyper{
    display: flex;
    height: 20%;
    align-items: center;
    width: 100%;
}
.hyper{
    width: 50%;
    align-self: center;
}
button{
    border-radius: 50%;
    background-color: blueviolet;
    padding: 5px;
    border:  2px blueviolet solid;
}
button:hover{
    background-color:rgb(9, 8, 9) ;
}
image{
    width: 60%;
    height: 60%;
}
.converted{
    width: 80%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3.1em;font-family: extraBold;
    padding-left: 30px;
}
.converted span{
    color: blueviolet;
}

li{
list-style: none;

}

.attribution{
    width: 80%;
    /* border:  2px red solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6em;
}

@media screen and (max-width:620px) {
    .container{
        width: 95%;
        height: 60%;
    }

    .converted{
        width: 80%;
        height: 45%;
        font-size: 2em;
    }
    .button-hyper{
        display: flex;
        width: 100%;
    }
    .hyper{
        width: 50%;
    }
    
    .inputs ul{
        width: 80%;
        display: flex;
        flex-direction: column;
    }
    .hyper2{
        width: 50%;
    }
    input{
        width: 90%;
        height: 50%;
        padding: 5px;
        font-size: 1rem;
    }
    .inputs{
        padding: 3px;
        width: 100%;
        height: 25%;
    }
    .inputs span{
        font-size: 0.8rem;
        letter-spacing: 1.5px;
        
    }
    .attribution{
        font-size: 1.0rem;
    }
}

    @media screen and (max-width:300px) {
        .container{
            width: 95%;
            height: 50%;
               margin-top: 100px;
        }
        body{
        align-items: inherit;
        }
        .converted{
            
            border:  2px black solid;
            width: 80%;
            height: 45%;
            font-size: 1.1em;
        }
        .button-hyper{
            display: flex;
            width: 90%;
        }
        .inputs ul{
            width: 80%;
            display: flex;
            flex-direction: column;
        }
        .hyper2{
            width: 50%;
        }
        input{
            width: 90%;
            height: 50%;
            font-size: 0.7rem;
        }
        .inputs{
            width: 100%;
            height: 25%;
        }
        .inputs span{
            font-size: 0.6em;
            
        }
        .attribution{
            font-size: 0.6rem;
        }
        


}
@media screen and (min-width : 300px  ) and (max-width : 450px  ) {
    .attribution{
        font-size: 0.7em;
    }
}
@media screen and (min-width : 620px  ) and (max-width : 700px  ) {
    .attribution{
        font-size: 0.9em;
    }
}